@model VRhfo.UI.Views.ViewModels.VideoViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <!-- Video Player -->
    <div>
        <video width="800" height="600" controls>
            <source src="@Model.video.VideoUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div>
        <h2>@Model.video.Title</h2>
        <p>@Model.video.Description</p>
    </div>
    <!-- Suggested videos -->
    <div style="display: grid; grid-template-columns: repeat(5, 1fr);">
        @foreach (var item in Model.suggestedVideos)
        {
            <div>
                <a asp-controller="Video" asp-action="Details" asp-route-id="@item.Id">
                    <img width="150" src="~/img/@item.ThumbnailUrl" alt="@item.Title" />
                </a>
                <p>@item.Title</p>
            </div>
        }
    </div>
</div>
