@model IEnumerable<VRhfo.BL.Models.Video>

@{
    ViewData["Title"] = "Video Gallery";
}
<style>
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 8px;
        justify-content: center;
        margin-top: 70px;
        padding: 0 0px; /* Added padding to the sides */
        gap: 0px;
        margin-right: 90px;
        margin-left: 80px;
    }

    .card {
        border-radius: 8px 8px 8px 8px;
        text-align: center;
        margin: 0;
        margin-top: 20px;
        border: none;
        background-color: black;
        padding: 10px; /* Moved padding from .card-container to here */
        margin-top: 0px;
        padding: 6px; /* Moved padding from .card-container to here */
        width: 100%;
    }

    .vid-img {
        max-width: 100%; /* Changed from a fixed height to a max-width */
        height: auto; /* Ensures aspect ratio is maintained */
        border-radius: 8px 8px 8px 8px;
        height: 300px;
        padding: 1px;
        width: 200px;
        object-fit: cover;
    }


    .description {
        background-color: black;
        min-height: 20px;
        padding: 10px;
        margin: 0;
        font-size: small;
        text-align: left;
        height: 80px;
        color: #ffffff; /* added color white for text visibility on black background */
    }

    p {
        color: darkgrey;
        margin: 0;
        padding: 0;
    }

    @@media (max-width: 1170px) {
        .card-container {
            grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
        }
    }
</style>

<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <a asp-controller="Video" asp-action="Details" asp-route-id="@item.Id">
                <img class="vid-img" src="~/img/@item.ThumbnailUrl" alt="@item.Title" style="width: 100%;">
            </a>
            <div class="description">
                <h4>@item.Title</h4>
                <p>@item.Studio</p>
                <p>@item.Description</p>
            </div>
        </div>
    }
</div>

