@model  IPagedList<VRhfo.BL.Models.Video>
@using X.PagedList.Mvc.Core; 
@using X.PagedList;
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Video Gallery";
    string pageTitle = "Trending Now";
}

@if (ViewData["PageTitle"] != null)
{
    pageTitle = ViewData["PageTitle"].ToString();
}

<style>
    body{
        background-color: rgb(21, 21, 21) !important ;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-content: center;
        margin-top: 10px;
        padding: 0 0px; /* Added padding to the side   sfsfs */
        gap: 13px;
        margin-right: 130px;
        margin-left: 30px;
        
     }

    .card {
        border-radius: 10px;
        text-align: center;
        margin: 0;
        border: none;
        background-color: #222;
        padding: 0px; /* Moved padding from .card-container to here */
        width: 100%;
        overflow:hidden;
        margin: 0px 20px !important;.
    }

    .vid-img {
        max-width: 100%; /* Changed from a fixed height to a max-width */
        height: auto; /* Ensures aspect ratio is maintained */
        border-radius: 8px 8px 8px 8px;
        height: 220px;
        padding: 1px;
        min-width: 200px;
        object-fit: cover;
    }
    .card:hover{
        box-shadow: 5px 5px 40px 8px rgb(212, 255, 0, .22);
        cursor: pointer;
        background-color: #333
     }

    .description {
        background-color: transparent;
         padding: 10px;
        margin: 0;
        font-size: small;
        text-align: left;
        height: 80px;
        color: #ffffff; /* added color white for text visibility on black background */
        height: auto;
    }

    .navbar{
        background-color: #212121;
    }
    p {
        color: darkgrey;
        margin: 0;
        padding: 0;
    }

    @@media (max-width: 1170px) {
        .card-container {
            grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
        }
    }

    @@media (max-width: 660px) {
        .card-container {
            margin: 0 !important;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }
        .card{
            max-width: 100vw;
        }

    }

    <!--PAGINATION -->
 

        .pagination ul {
            display: inline-block;
        }

        .pagination li {
            display: inline;
            margin: 0 5px;
        }

            .pagination li a {
                color: white;
                background-color: #111;
                padding: 8px 30px;
                border: 1px solid #444;
                font-weight: 800;
                border-radius: 4px;

            }

            .pagination li.active a {
                background-color: #4CAF50 !important;
                color: white;
            }

            .page-links{
        text-align: center;
    }

    .pagination-container { /* Add a container around the pagination */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Make the container a positioning reference */
        margin-bottom: 20px; /* Add margin to the bottom to push it away from content */
        margin-top: 150px;
    }

    .pagination {
        position: absolute; /* Position the pagination absolutely within the container */
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .pagination a:hover{
        background-color: #222;
    }
    .page-title{
        position: relative;
        font-size: xx-large;
        top: 0px;
        width: 300px;
        background: var(--accent-color);
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
    }   
    .card-img{
        position: relative;
    }

    .time-container{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        background-color: rgb(1,1,1,.45);
        border-radius: 5px;
    }

    .card-time {
        color: white !important;
        font-weight: 700 !important;
        padding: 4px;
        font-size: 1rem;
        margin-bottom: 3px;
        margin-right: 7px;
        letter-spacing: -1px;
    }
     
    .d-top-row{
        display:flex;
        justify-content:center;
        flex-direction: column;
        margin-bottom:5px;
     }
    .d-bottom-row{
        text-align: center;
        display: flex;
        justify-content: space-between;
        color: #777;
     }
    .vid-title{
width: 100%;
font-size: x-large;
    }

    .profile-username {
        color: deepskyblue;
    }

     
    .video-index-container{
        width: 100vw;
    }
    .likes{
        font-size: 15px;
        text-align: right;
    }
</style>

<div class="video-index-container">
    <div class="page-title">
        @pageTitle
    </div>
    <div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
                <a asp-controller="Video" asp-action="Watch" asp-route-title="@item.Title.Replace(' ', '-')">
                    <div class="card-img">
                  
                            <img class="vid-img" src="@item.ThumbnailUrl" alt="@item.Title" style="width: 100%;">
                            <div class="time-container">
                                 <p class="card-time">@item.FormattedDuration </p>
                            </div>
                   
                    </div>
                
                    <div class="description">
                        <div class="d-top-row">
                            <h5 class="vid-title">@item.Title</h5>
                            <p class="likes"><img src="~/img/heart.svg" alt="Heart Icon" height="19" width="19">
                                @item.FormattedLikes
                            </p>
                        </div>
                        <div class="d-bottom-row">
                            <p>@item.Category</p>
                            @item.FormattedUploadDate
                        </div>
                    </div>
                </a>
        </div>
    }


</div>

    <div class="pagination-container">
        <div class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>
 

