@model  IPagedList<VRhfo.BL.Models.Video>
@using X.PagedList.Mvc.Core; 
@using X.PagedList;
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Video Gallery";
    string pageTitle = "Trending Now";
}

@if (ViewData["PageTitle"] != null)
{
    pageTitle = ViewData["PageTitle"].ToString();
}

<style>
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 8px;
        justify-content: center;
        margin-top: 40px;
        padding: 0 0px; /* Added padding to the sides */
        gap: 10px;
        margin-right: 90px;
        margin-left: 80px;
    }

    .card {
        border-radius: 8px 8px 8px 8px;
        text-align: center;
        margin: 0;
        margin-top: 20px;
        border: none;
        background-color: #222;
        padding: 20px; /* Moved padding from .card-container to here */
        margin-top: 0px;
        padding: 0px; /* Moved padding from .card-container to here */
        width: 100%;
        overflow:hidden;
    }

    .vid-img {
        max-width: 100%; /* Changed from a fixed height to a max-width */
        height: auto; /* Ensures aspect ratio is maintained */
        border-radius: 8px 8px 8px 8px;
        height: 220px;
        padding: 1px;
        min-width: 200px;
        object-fit: cover;
    }
    .card:hover{
        -webkit-box-shadow: 10px 10px hotpink;
        box-shadow: 0 0 10px rgb(255, 0, 255);
        cursor: pointer;
     }

    .description {
        background-color: #222;
         padding: 10px;
        margin: 0;
        font-size: small;
        text-align: left;
        height: 80px;
        color: #ffffff; /* added color white for text visibility on black background */
        height: auto;
    }

    p {
        color: darkgrey;
        margin: 0;
        padding: 0;
    }

    @@media (max-width: 1170px) {
        .card-container {
            grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
        }
    }

    @@media (max-width: 660px) {
        .card-container {
            margin: 0;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }

    }
 
    <!--PAGINATION -->
 

        .pagination ul {
            display: inline-block;
        }

        .pagination li {
            display: inline;
            margin: 0 5px;
        }

            .pagination li a {
                color: white;
                background-color: black;
                padding: 8px 16px;
                border: 2px solid #ddd;
                font-weight: 800;
            }

            .pagination li.active a {
                background-color: #4CAF50 !important;
                color: white;
            }

            .page-links{
        text-align: center;
    }

    .pagination-container { /* Add a container around the pagination */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Make the container a positioning reference */
        margin-bottom: 20px; /* Add margin to the bottom to push it away from content */
        margin-top: 150px;
    }

    .pagination {
        position: absolute; /* Position the pagination absolutely within the container */
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .pagination a:hover{
        background-color: deeppink;
    }
    .page-title{
        position: relative;
        font-size: xx-large;
        left: 80px;
        top: 30px;
        width: 300px;
    }

    .card-time{
        color: white !important;
        font-weight: 600 !important;
        padding: 4px;
        font-size: 1rem;
        margin-bottom: 3px;
        margin-right: 7px;
        letter-spacing: -1px;
    }
    .card-img{
        position: relative;
    }
    .time-container{
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
    }
    .clock-img{
        position: absolute;
        top: 7px;
        left: -15px;
    } 

    .d-top-row{
        display:flex;
        justify-content:space-between;
    }
    .d-bottom-row{
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .vid-title{
        max-width: 170px;
    }
</style>

<div class="main-pg">
<div class="page-title">
    @pageTitle
</div>
<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
                <a asp-controller="Video" asp-action="Watch" asp-route-title="@item.Title">
                    <div class="card-img">
                  
                            <img class="vid-img" src="~/img/@item.ThumbnailUrl" alt="@item.Title" style="width: 100%;">
                            <div class="time-container">
                                <img src="~/img/clock2.png" height="13" width="13" class="clock-img">
                                <p class="card-time">@item.FormattedDuration </p>
                            </div>
                   
                    </div>
                
                    <div class="description">
                        <div class="d-top-row">
                            <h5 class="vid-title">@item.Title</h5>
                            <p><img src="~/img/heart.svg" alt="Heart Icon" height="13" width="13">
                                @item.FormattedLikes
                            </p>
                        </div>
                        <div class="d-bottom-row">
                            <p>@item.Category</p>
                            @item.FormattedUploadDate
                        </div>
                    </div>
                </a>
        </div>
    }


</div>

<div class="pagination-container">
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>
 
</div>

