@model VRhfo.UI.Views.ViewModels.VideoViewModel

@{
    ViewData["Title"] = "Video - vrhfo.com";


}

<style>
    .suggested{
        margin-left: 20px;
    }

    .vid-player{
        margin-left: 20px;
    }
</style>

<div>
    <!-- Video Player -->
    <div class="vid-player">
        <video width="800" height="540" controls>
            <source src="@Model.video.VideoUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="vid-player">
        <h2>@Model.video.Title</h2>
        <p>@Model.video.Description</p>
    </div>
    <!-- Suggested videos -->
    <div class="suggested" style="width: 60%; display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 0px;">
        @foreach (var item in Model.suggestedVideos)
        {
            <div>
                <a asp-controller="Video" asp-action="Watch" asp-route-title="@item.Title">
                    <img width="180" src="~/img/@item.ThumbnailUrl" alt="@item.Title" />
                </a>
                <p>@item.Title</p>
            </div>
        }
    </div>

</div>


    