@model VRhfo.UI.Views.ViewModels.VideoViewModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Video - vrhfo.com";


}

<style>
    body{
        background-color: rgb(21, 21, 21);
    }
    <!-- DIAMOND AND LIKE BUTTONS -->
    .o-icon-svg {
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
    }

    .o-icon {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        vertical-align: middle;
        fill: grey;
        width: 24px;
        height: 24px;
    }

    <!--SUGGESTED VIDEOS -->
    .suggested{
        margin-left: 20px;
    }

    <!--VIDEO DETAILS CONTAINER -->
    .vid-details{
        margin-left: 110px;
        margin-top: 15px;
    }
    .lik-box{
        padding: 0;
        height: 30px;
        background-color: black;
        margin-bottom: -20px;
    }
        .lik-box.p {
            padding: 22px;
        }

        .sug{
        border-radius: 10px !important;
        
        }

        .sug-card{
            width: 100px;
            margin-left: 40px;
            margin-right: 8px;
    }
    .sug-card:hover{
            z-index: 999;

        }
      
        .sug-img{
            border-radius: 3px;
        object-fit: cover;
    }
        .video:hover{
            -webkit-box-shadow: 10px 10px hotpink;
            box-shadow: 0 0 10px rgb(255, 0, 255);
         }

        .vid{
            margin-left: 50px;
        }    
    .sug-title{
        width: 200px;
        flex-wrap: wrap;
    }
    .vid-details-top-row{
        display: flex;
        justify-content: space-between;
        padding: 0;
        height: 40px;
        margin-top: -10px;
    }
    .vid-details-top-row p {
        font-size: large;
    }
    .page-left-container{
        max-width: 70%;
        margin-left: 110px;
        margin-right: 20px;
    }
    .vid-player{
        height: 500px; width: 700px;
    }


    .canvas-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
        flex-direction: column;
        
    }

    #videoCanvas {
/*         outline: 1px solid white;
 */         max-width: 100%;
        height: auto;
    }

    .canvas-details{
        width: 100%;
        justify-content: flex-end;
        border: 1px dotted rgba(86, 86, 86, 0.00);
        border-radius: 5px;
        background-color: rgba(40, 40, 40, 0.80);
        margin: 10px 0;
        outline: 1px solid rgba(74, 74, 74, 0.61);
        padding: 12px;
    }

     
     @@media (max-width: 1109px) {
        /* Styles for screens below 1110 pixels */
        .canvas-container {
            width: 100%;
        }

        #videoCanvas {
            width: 100%;
            height: auto;
        }

        /* Add additional styles for other elements */
        .page-left-container {
            max-width: 100%;
        }

        .vid-details {
            margin-left: 0;       
        }

        .suggested {
            margin-left: 0;
            grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
        }
     }

    @@media (max-width: 860px) {
        main{
            flex-direction: column !important;
        }
        .page-left-container{
            margin: 0;
            margin-top: 0;
        }
        .canvas-container{
            margin-top: -10px !important;
        }
        .video-playa{
            margin-top: 20px;
            width: 700px !important;
            height: 350px;
        }
        .comments-section{
            width: 70%;
        }
    }

    @@media (max-width: 1125px){
        .page-left-container{
            margin-left: 0 !important;
        }
    }

<!--END MEDIA QUERIES -->
 
    .pb-3{
        margin-top: 300px !important;
    }


    .profile-username {
        color: deepskyblue !important;
        width: 100%;
    }
</style>

 
<div class="page-left-container">

        <!--VIDEOJS  PLAYER THAT WILL WORK VIDEO VR JS -->
        <div class="canvas-container">
            <video id="my-video" class="video-js  video-playa" controls preload="auto" width="820" height="515" data-setup="{}">
                <source  src="~/video/my-video.mp4" type="video/mp4">
                <!-- Add more <source> elements for different video formats if needed -->
            </video>
        </div>

<!--Video Details-->
         <div class="canvas-details">
                <div class="vid-details-top-row">
                    <h2 class="vid-title-txt">@Model.video.Title</h2>
                                   @*  <p>                      
                                        <svg class="o-icon o-icon-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 22h4V10H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 2 7.59 8.59C7.22 8.95 7 9.45 7 10v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z" fill-rule="nonzero"></path>
                                        </svg>
                                            @Model.video.FormattedLikes  |
                                        <svg class="o-icon o-icon-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23 2h-4v12h4V2zM1 13c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 22l6.58-6.59c.37-.36.59-.86.59-1.41V4c0-1.1-.9-2-2-2H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2z" fill-rule="nonzero"></path></svg>    @Model.video.FormattedDislikes
                                    </p> *@
                    <div class="top-row-second-box">
                        <div class="likes-ratio">

            <!-- LIKE BUTTON ON VIDEO-->
                    

                            <div id="tooltip">
                                         @* <div id='likeButton_@Model.video.Id' class='buttonH heartH like-btn' data-post-id="@Model.video.Id"></div> *@
                        <div class="likeL @Model.likeState" data-video-id=@Model.video.Id></div>

                        <span id="tooltiptext"><a class="tip-link"   asp-action="Login" asp-controller="Home">Login</a> or <a asp-action="JoinNow" asp-controller="Home">Join</a> to like</span>
                        </div>



                            @Model.video.AverageRating %
                        </div>
                    </div>
                </div>
                <div class="vid-details-bottom-row">
                    <p ><a class="category-txt" asp-action="Index" asp-controller="Video" asp-route-category="@Model.video.Category">@Model.video.Category </a></p>
                    
                </div>
                <div class="vid-details-last">
                    <div class="details-last-first2">
                        <p>Uploaded: @Model.video.FormattedUploadDateDMY</p>
                     <span class="by-txt">By:</span><a class="username-txt2" asp-action="Profile" asp-controller="User" asp-route-userid="@Model.video.UserId">@@@Model.video.user.Username </a></p>
                    </div>
                <p class="views-txt">@Model.video.FormattedViews views</p>
                </div>
            </div>

    <!--COMMMENT SECTION-->
   @*  <div class="comments-section">
        <!--CHATANGO CHAT SOLUTION-->
        <script id="cid0020000376969179603" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 100%;height: 100%;">{"handle":"goonvr","arch":"js","styles":{"a":"e0e0e0","c":"ffffff","d":"ff99ff","f":0,"g":"ffffff","i":0,"j":"ffffff","k":"e0e0e0","l":"e0e0e0","m":"e0e0e0","p":"10","q":"e0e0e0","usricon":0,"fwtickm":1}}</script>
    </div> *@

    <!--Vid details CSS -->
    <style>
        .likeL:hover{
            cursor: pointer;
        }
        .likeL {
            margin-top: 0px;
            height: 35px !important;
            width: 35px !important;
        }

        .like-noL {
            background: url("/img/dislike.svg") no-repeat;
        }

        .like-yes {
            background: url("/img/like.svg") no-repeat;
            margin-right: 2px;
        }

        #tooltip {
            position: relative !important;
            display: inline-block !important;
        }


            #tooltip #tooltiptext {
                visibility: hidden !important;
                background-color: rgba(19, 19, 19, 0.76) !important;
                color: #fff !important;
                text-align: center !important;
                border-radius: 6px !important;
                padding: 4px 0px;
                font-size: medium;

                /* Position the tooltip */
                position: absolute !important;
                width: 140px;
                bottom: 100%;
                left: 50%;
                margin-left: -50px; 
                margin-bottom: -2px !important
            }

            #tooltip:hover #tooltiptext {
                visibility: visible !important;
            }

        .by-txt{
            color: #555;
            margin-left: 10px;
        }
        .top-row-second-box{
            display: flex;;
        }
        .details-last-first2{
            display: flex;
        }

        .username-txt:hover {
            color: #0993c1;
            cursor: pointer;
        }       
        .username-txt2{
            margin-left: 5px;
            color:#0078a0;
            margin-top: -3px !important;
        }
        .username-txt:hover{
            color: rgba(0, 120, 161, 0.67) !important;
        }
        .vid-details-last{
            display: flex;
           color: #555;
           justify-content: space-between;
        }
        .views-txt{
            font-size: large;
            color: #778;
        }
        .vid-details-bottom-row{
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
        }
        .vid-title-txt{
            margin-top: 4px;

        }
        .category-txt{
            color: #777 !important;
            font-size: large;
        }
        .category-txt:hover{
                color: #555 !important;
            cursor: pointer;
        }    
        .likes-ratio{
            font-size: x-large;
            font-weight: 400;
            color: hotpink;
            margin-top: 10px;
            margin-right: 5px;
            padding: 0 !important;
            font-family: Dubai;
            display: flex;
        }
        .top-row-second-box{
            display: flex;
            flex-direction: row; /* Assuming you want to center vertically */
            align-items: center; /* Center children vertically */
            justify-content: center; /* Center children horizontally */
            text-align: center; /* Center text horizontally */
        }
        .buttonH {
            width: 10px;
            height: 10px;
            position: relative;
            margin-top: 2px;
            margin-left: 0px;
            border-radius: 5px;
            background: none;
            cursor: pointer;
            transition: background 0.5s ease;
            margin-right: 20px;
        }


<!--original comment section css-->
#Region "collapse"
 /* OLD COMMENTS CSS*/
        .addComment-container{
            display: flex;
            flex-direction: column;            
        }
        .addComment-topRow{
            display: flex;
        }
        .placeholdert {
            color: #999;
            pointer-events: none;
        }
        
        .comment-submit{
            align-self: flex-end;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: 1px solid hotpink;
            padding: 5px;
            margin-right: 20%;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
        }
        .comment-submit:hover{
                background-color: rgb(218, 110, 178, .8);
        }
            .comment-submit:focus {
                outline: 1px solid hotpink; /* Add focus styling here */
            }
         .comment-input{
            border-bottom: 1px solid grey;
            overflow: auto;
            margin-top: 2%;
         }

         .comment-box{
            width: 55%;
            margin-left: 20px;
        }
        .user-txt{
            display:flex;
            margin-left: 20px;
           
        }
        .fire-svg{
            margin-top: 3px;
            margin-right: 3px;
        }
        .cht-top{
            display: flex;
            margin-left: 10px;
            padding-right: 10px;
            border-radius: 12px;
        }
        .cht-new{
            display: flex;
            padding: 0px 5px;
            border-radius: 12px;
            padding-right: 10px;
        }

        .cht-new:hover,.cht-top:hover{
            background-color: #444;
            cursor: pointer;
        }
        .comments-header-title-right{
            display: flex;
            margin-left: 30px;
        }
        .comments-header-title-left{
            display: flex;
             
        }

        .comments-section p{
            margin: 0 !important;
        }
        .avatar-container {
            width: 40px;
            height: 40px;
            min-width: 40px !important; /* Add this line */
            min-height: 40px;
            position: relative;
        }

        .avatar-circle {
            width: 100%;
            height: 100%;
            background-color: #444;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px !important; /* Add this line */
        }

        .avatar-letter {
            font-size: 16px;
            font-weight: bold;
            color: white;
        }

        .diamondD {
            position: absolute;
            bottom: 6px;  
            right: -6px; 
            height: 10px !important;

        }
    .dot{
        margin-left: 10px;
    }
    .comments-number{
        padding: 0px 10px;
    }

        .comments-header {
            display: flex;
            position: relative;
            align-items: center;
            padding: 5px;
        }
        .comments-header-title{
            display: flex;
            height: 30px;  
            align-content: center;
        }
        .comments-section {
            display: grid;
            grid-template-columns: 1fr; /* Single column layout */
            gap: 10px; /* Adjust the gap between comments */
/*             background: #222;
 */            
            padding: 5px !important;
            align-items: center;
            border-radius: 15px !important;
            margin-top: 10px !important;
            width: 810px !important;
            height: 240px !important;
            background: #222;
            margin-left: 5px !important;
        }
 
        .comment {
            display: flex;
            gap: 8px;
            padding: 5px;
        }

            .comment .avatar {
                flex: 0 0 auto; /* Prevent avatar from shrinking */
                height: 30px;
                border-radius: 10px;                
            }

            .comment .content {
                flex: 1 1 auto; /* Allow content to grow/shrink */
            }
            main{
                display: flex;
                flex-direction: row;
            }



#End REGION
     
 </style>    

</div>

<!--RIGHT SIDE OF PAGE (SUGGESTED VIDEOS) -->
<div class="page-right-container">
    @{
        var username = HttpContextAccessor.HttpContext?.Session.GetString("username");
    }
    @if (!Authenticate.IsAuthenticated(Context)|| username == "")
    {
        <!--join premium container-->
        <div class="join-premium-container">
            <p class="cta-text">Watch this video and 1000+ more with Premium</p>
            <a asp-action="JoinNow" asp-controller="Home">JOIN NOW</a>
        </div>
    }
           

    <!--Suggested videos -->
     @for (int i = 0; i < Model.suggestedVideos.Count; i++)
     {
        <div class="suggested-videos">
            <div class="video">
                <div class="sug-vid-img">
                    <a asp-action="Watch" asp-controller="Video" asp-route-title="@Model.suggestedVideos[i].Title">
                        <img src="~/img/@Model.suggestedVideos[i].ThumbnailUrl" height="100px" width="150px" class="sug-img" /> 
                       </a>
                </div>
                <div class="sug-vid-content">
                    <a class="title-link" asp-action="watch" asp-controller="Video" asp-route-title="@Model.suggestedVideos[i].Title"><h5 class="video-title">@Model.suggestedVideos[i].Title</h5></a>
                    <a asp-action="Index" asp-controller="Video" asp-route-category="@Model.suggestedVideos[i].Category"><p class="vid-category">@Model.suggestedVideos[i].Category</p></a>
                    <div class="sug-vid-content-bottom">
                        <img src="~/img/vision.png" height="22px" width="20px"/> @Model.suggestedVideos[i].FormattedViews  | @Model.suggestedVideos[i].FormattedUploadDate
                    </div>
                </div>
            </div>           
        </div>

     }
</div>



<style>

    @@media(max-width: 521px){
        .video-playa{
            width: 330px !important;
            height: 220px;
        }
        .comments-section{
            width: 300px !important;
        }
    }


    /*RIGHT SIDE PAGE CSS*/
    .join-premium-container {
        background-image: url('https://front.sexlikereal.com/s/refactor/images/banners/bg-banner-premium-side.jpg');
        background-size: cover; /* This ensures the image covers the entire container */
        background-position: center; /* This centers the image within the container */
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        height: 130px;
        width: 90%;
        justify-content: center;
        align-content: center;
        position: relative;
        left: 10px;
        background-color: #222;
        margin-top: 30px;
        border-radius: 6px;
        padding: 50px;
        text-align: center;
        border: 1px solid blue;
        font-weight: bold;
    }

    .cta-text {
    }

    .suggested-videos {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: 5px;
    }

    .video {
        display: flex;
        padding: 6px;
    }

    .video-title {
        padding-left: 5px;
        min-width: 160px !important;
        max-width: 300px;
    }

    .page-right-container {
        flex-grow: 1;
    }

    .sug-vid-content {
        position: relative;
        margin-left: 5px;
    }

    .suggested-videos p {
        color: #666666;
        padding: 0 !important;
        padding-left: 5px !important;
        margin-top: 3px;
    }

    .sug-vid-content-bottom {
        color: #b0b0b0;
        padding: 0 !important;
        position: absolute;
        bottom: 0 !important;
    }

    .title-link {
        color: white;
    }

        .title-link:hover {
            color: white;
        }

    .vid-category:hover {
        color: #999;
    }
</style>

<!-- Include VideoJS sss s s s-->
<script src="~/node_modules/video.js/dist/video.js"></script>
<script src="~/node_modules/videojs-vr/dist/videojs-vr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@mojs/core"></script>

<link href="~/node_modules/video.js/dist/video-js.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />

<!-- Include VideoJS-VR JavaScript -->
<script src="~/node_modules/videojs-vr/dist/videojs-vr.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var player = videojs('my-video');
        player.vr({ projection: '180_LR' });
    });
</script>


<!--NEWWw LIKE BUTTON FUNCTIONALITY-->
<script>
     
       

    document.addEventListener('DOMContentLoaded', function () {

        const likeButtons = document.querySelectorAll('.likeL');
        const currentUser = @Html.Raw(Json.Serialize(ViewBag.CurrentUser)); // Access the user from the ViewBag

        console.log(currentUser?.username + " " + currentUser?.id);

        // Check if user is logged in
        const isLoggedIn = currentUser && currentUser.username && currentUser.username !== "";

        likeButtons.forEach(button => {
            const tooltip = button.parentElement.querySelector('#tooltiptext');

            if (isLoggedIn) {
                // User is logged in, hide tooltip
                tooltip.style.display = 'none';
                console.log("User is logged in");
            } else {
                // User is not logged in, show tooltip
                tooltip.style.display = 'block';
                console.log("User is not logged in");
            }

            button.addEventListener('click', (event) => {
                if (!isLoggedIn) {
                    // User is not logged in, redirect to login
                    event.preventDefault();
                    console.log("User must log in to like this video.");
                    const baseUrl = window.location.origin;
                    window.location.href = `${baseUrl}/Home/Login`;
                } else {
                    // User is logged in, toggle like state
                    event.target.classList.toggle("like-noL");
                    event.target.classList.toggle("like-yes");

                    const videoId = button.getAttribute('data-video-id');

                    const isLiked = event.target.classList.contains("like-yes");

                    if (isLiked) {
                        console.log("✅💾 Saving Favorite... " + videoId);



                        // Proceed with liking the video
                         fetch(`/Video/Like/${videoId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'RequestVerificationToken': getAntiForgeryToken() // Include anti-forgery token
                            },
                            body: JSON.stringify({ videoId }) // Pass post ID in the request body
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log("Like count: " + data.likeCount);
                                // Handle success response
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                // Handle error
                            }); 

                    } else {
                        console.log("❌ Removing Favorite..." + videoId);

                        // Proceed with unliking the video
                         fetch(`/Video/Unlike/${videoId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'RequestVerificationToken': getAntiForgeryToken() // Include anti-forgery token
                            },
                            body: JSON.stringify({ videoId }) // Pass post ID in the request body
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log("Like count: " + data.likeCount);
                                // Handle success response
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                // Handle error
                            }); 
                    }
                }
            });
        });

        // Function to retrieve the anti-forgery token from the page
        function getAntiForgeryToken() {
            const tokenElement = document.querySelector('input[name="__RequestVerificationToken"]');
            return tokenElement ? tokenElement.value : '';
        }
    });
</script>


<!-- OLD - LIKEBUTTON BURST ANIMATION   AND  COMMENT JS-->
 <script type="text/javascript">

     //LIKE BUTTON 
    $(document).ready(function () {
        var scaleCurve = mojs.easing.path('M0,100 L25,99.9999983 C26.2328835,75.0708847 19.7847843,0 100,0');
        var el = document.querySelector('.buttonH'),
            // mo.js timeline obj
            timeline = new mojs.Timeline(),
   
       // tweens for the animation:
       // burst animation
        tween1 = new mojs.Burst({
                parent: el,
                radius: { 0: 100 },
                angle: { 0: 45 },
                y: -10,
                count: 10,
                radius: 100,
                children: {
                    shape: 'circle',
                    radius: 30,
                    fill: ['#c90084', 'hotpink)'],
                    strokeWidth: 15,
                    duration: 500,
                }
            });
        tween2 = new mojs.Tween({
            duration: 900,
            onUpdate: function (progress) {
                var scaleProgress = scaleCurve(progress);
                el.style.WebkitTransform = el.style.transform = 'scale3d(' + scaleProgress + ',' + scaleProgress + ',1)';
            }
        });
        tween3 = new mojs.Burst({
            parent: el,
            radius: { 0: 100 },
            angle: { 0: -45 },
            y: -10,
            count: 10,
            radius: 125,
            children: {
                shape: 'circle',
                radius: 30,
                fill: ['deeppink', 'hotpink'],
                strokeWidth: 15,
                duration: 400,
            }
        });

        // add tweens to timeline:
        timeline.add(tween1, tween2, tween3);

        // when clicking the button start the timeline/animation:
        $(".buttonH").click(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            } else {
                timeline.play();
                $(this).addClass('active');
            }
        });
    });


    const commentInput = document.querySelector('.comment-input');
    const commentSubmit = document.querySelector('.comment-submit');
    const commentsContainer = document.querySelector('.comments-section');
    const placeholder = commentInput.querySelector('.placeholdert');
    const btnComment = document.getElementById('btnComment');
    
     btnComment.onclick = function () {
         commentInput.innerHTML = "";
     }
    // Remove the placeholder when the user clicks inside the contenteditable div
    commentInput.addEventListener('click', () => {
        if (placeholder) {
            placeholder.remove();
        }
    });

    // Add the placeholder back if the user clears the comment input
    commentInput.addEventListener('input', () => {
        if (commentInput.textContent.trim() === '') {
            if (!placeholder) {
                const newPlaceholder = document.createElement('span');
                newPlaceholder.classList.add('placeholder');
                newPlaceholder.textContent = 'Add a comment...';
                commentInput.appendChild(newPlaceholder);
            }
        }
    });

    // Restore placeholder when the input loses focus (user clicks anywhere else on the page)
    document.addEventListener('click', (event) => {
        const isCommentInput = event.target.closest('.comment-input');
        if (!isCommentInput && commentInput.textContent.trim() === '') {
            if (!placeholder) {
                const newPlaceholder = document.createElement('span');
                newPlaceholder.classList.add('placeholdert');
                newPlaceholder.textContent = 'Add a comment...';
                commentInput.appendChild(newPlaceholder);
            }
        }
    });

    commentSubmit.addEventListener('click', () => {
        const commentText = commentInput.textContent.trim();
        if (commentText) {
            // Your logic to submit the comment
            console.log('Comment submitted:', commentText);
            // Clear the input after submitting
            commentInput.textContent = '';
            // Restore placeholder after clearing input
            const newPlaceholder = document.createElement('span');
            newPlaceholder.classList.add('placeholdert');
            newPlaceholder.textContent = 'Add a comment...';
            commentInput.appendChild(newPlaceholder);
        }
    });
</script>




















