@model VRhfo.UI.Views.ViewModels.VideoViewModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Video - vrhfo.com";


}

<style>
    body{
        background-color: rgb(21, 21, 21);
    }
    <!-- DIAMOND AND LIKE BUTTONS -->
    .o-icon-svg {
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
    }

    .o-icon {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        vertical-align: middle;
        fill: grey;
        width: 24px;
        height: 24px;
    }

    <!--SUGGESTED VIDEOS -->
    .suggested{
        margin-left: 20px;
    }

    <!--VIDEO DETAILS CONTAINER -->
    .vid-details{
        margin-left: 110px;
        margin-top: 15px;
    }
    .lik-box{
        padding: 0;
        height: 30px;
        background-color: black;
        margin-bottom: -20px;
    }
        .lik-box.p {
            padding: 22px;
        }

        .sug{
        border-radius: 10px !important;
        
        }

        .sug-card{
            width: 100px;
            margin-left: 40px;
            margin-right: 8px;
    }
    .sug-card:hover{
            z-index: 999;

        }
      
        .sug-img{
            border-radius: 3px;
        object-fit: cover;
    }
        .video:hover{
            -webkit-box-shadow: 10px 10px hotpink;
            box-shadow: 0 0 10px rgb(255, 0, 255);
         }

        .vid{
            margin-left: 50px;
        }    
    .sug-title{
        width: 200px;
        flex-wrap: wrap;
    }
    .vid-details-top-row{
        display: flex;
        justify-content: space-between;
        padding: 0;
        height: 40px;
        margin-top: -10px;
    }
    .vid-details-top-row p {
        font-size: large;
    }
    .page-left-container{
        max-width: 70%;
        margin-left: 110px;
        margin-right: 20px;
    }
    .vid-player{
        height: 500px; width: 700px;
    }


    .canvas-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
        flex-direction: column;
        
    }

    #videoCanvas {
/*         outline: 1px solid white;
 */         max-width: 100%;
        height: auto;
    }

    .canvas-details{
        width: 100%;
        justify-content: flex-end;
        border: 1px dotted rgba(86, 86, 86, 0.00);
        border-radius: 5px;
        background-color: rgba(40, 40, 40, 0.80);
        margin: 10px 0;
        outline: 1px solid rgba(74, 74, 74, 0.61);
        padding: 12px;
    }

     
     @@media (max-width: 1109px) {
        /* Styles for screens below 1110 pixels */
        .canvas-container {
            width: 100%;
        }

        #videoCanvas {
            width: 100%;
            height: auto;
        }

        /* Add additional styles for other elements */
        .page-left-container {
            max-width: 100%;
        }

        .vid-details {
            margin-left: 0;       
        }

        .suggested {
            margin-left: 0;
            grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
        }
     }

    @@media (max-width: 715px) {
        main{
            flex-direction: column !important;
        }
        .page-left-container{
            margin: 0;
            margin-top: 0;
        }
        .canvas-container{
            margin-top: -10px !important;
        }
    }

    @@media (max-width: 1125px){
        .page-left-container{
            margin-left: 0 !important;
        }
    }

<!--END MEDIA QUERIES -->
 
    .pb-3{
        margin-top: 300px !important;
    }



</style>

 
<div class="page-left-container">

        <!--VIDEOJS  PLAYER THAT WILL WORK VIDEO VR JS -->
        <div class="canvas-container">
            <video id="my-video" class="video-js  video-playa" controls preload="auto" width="820" height="515" data-setup="{}">
                <source  src="~/video/my-video.mp4" type="video/mp4">
                <!-- Add more <source> elements for different video formats if needed -->
            </video>
        </div>

<!--Video Details-->
         <div class="canvas-details">
                <div class="vid-details-top-row">
                    <h2 class="vid-title-txt">@Model.video.Title</h2>
                                   @*  <p>                      
                                        <svg class="o-icon o-icon-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 22h4V10H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 2 7.59 8.59C7.22 8.95 7 9.45 7 10v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z" fill-rule="nonzero"></path>
                                        </svg>
                                            @Model.video.FormattedLikes  |
                                        <svg class="o-icon o-icon-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23 2h-4v12h4V2zM1 13c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 22l6.58-6.59c.37-.36.59-.86.59-1.41V4c0-1.1-.9-2-2-2H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2z" fill-rule="nonzero"></path></svg>    @Model.video.FormattedDislikes
                                    </p> *@
                    <div class="top-row-second-box">
                        <div class="likes-ratio">

            <!-- LIKE BUTTON ON VIDEO-->
                    

                            <div id="tooltip">
                                         @* <div id='likeButton_@Model.video.Id' class='buttonH heartH like-btn' data-post-id="@Model.video.Id"></div> *@
                                <div class="likeL like-noL"></div>

                        <span id="tooltiptext"><a class="tip-link" asp-action="JoinNow" asp-controller="Home">Login</a> or <a asp-action="JoinNow" asp-controller="Home">Join</a> to like</span>
                        </div>



                            @Model.video.AverageRating %
                        </div>
                    </div>
                </div>
                <div class="vid-details-bottom-row">
                    <p ><a class="category-txt" asp-action="Index" asp-controller="Video" asp-route-category="@Model.video.Category">@Model.video.Category </a></p>
                    
                </div>
                <div class="vid-details-last">
                    <div class="details-last-first2">
                        <p>Uploaded: @Model.video.FormattedUploadDateDMY</p>
                     <span class="by-txt">By:</span><a class="username-txt" asp-action="Profile" asp-controller="User" asp-route-userid="@Model.video.UserId">@@@Model.video.user.Username </a></p>
                    </div>
                <p class="views-txt">@Model.video.FormattedViews views</p>
                </div>
            </div>

    <!--COMMMENT SECTION-->
    <div class="comments-section">
        <!--CHATANGO CHAT SOLUTION-->
@*         <script id="cid0020000376387150944" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 100%;height: 100%;">{"handle":"goonvr","arch":"js","styles":{"a":"383838","c":"ffffff","d":"cc33cc","f":0,"g":"ffffff","i":0,"j":"ffffff","k":"ffffff","l":"e0e0e0","m":"383838","n":"FFFFFF","p":"10","q":"383838","usricon":0,"cnrs":"0.35","fwtickm":1}}</script>
 *@






        <!-- OLD COMMENT SECTION-->
        @*  <div class="comments-header">
        <div class="comments-header-title">
                <div class="comments-header-title-left">
                    <p>Comments</p>
                    <span class=" dot ">• </span>
                    <span class="comments-number ">
                        @Model.video.Comments.Count
                    </span>
                </div>
                
                <div class="comments-header-title-right">
                    <div class="cht-new" id="cht-new">
                        <svg class="fire-svg" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="grey" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15" />
                        </svg> 
                        <p>New</p>
                    </div>
                    <div class="cht-top" id="cht-top">
                        <span class="o-icon"><svg class="o-icon o-icon-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M18.902 10.768l-6.676-6.67a.333.333 0 00-.473 0l-6.656 6.67a.333.333 0 00.237.568h3.67v8.33c0 .185.15.334.334.334h5.338c.184 0 .334-.15.334-.333v-8.33h3.656a.334.334 0 00.309-.207.331.331 0 00-.073-.362z" fill-rule="nonzero"></path></svg></span>
                        <p>Top</p>
                    </div>
                </div>
            </div>           
        </div>

        <!--ADD A COMMENT -->
        <div class="addComment-container">
            <div class="addComment-topRow">
                <div class="avatar-container user-txt">
                    <div class="avatar-circle">
                        <span class="avatar-letter">U</span>
                    </div>               
                </div>
                <div class="comment-box">
                    <div class="comment-input" contenteditable="true" role="textbox">
                        <span class="placeholdert">Add a comment...</span>
                    </div>
                </div>
            </div>

            <button class="comment-submit like-btn" id="btnComment">COMMENT</button>

        </div>
                        
        <!--LOOOP THROUGH EACH COMMENT -->
        @foreach (var comment in Model.video.Comments)
        {
            <div class="comment" data-datePosted=@comment.DatePosted>
                <div class="avatar-container">
                    <div class="avatar-circle">
                        <span class="avatar-letter">@comment.User.AvatarLetter</span>
                    </div>
                    <span class="diamondD di">
                        <svg class="o-icon o-icon-svg " viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.06419 14.7411c-.10982-.0012-.21803-.0265-.31697-.0742-.09894-.0477-.18618-.1166-.25554-.2017L.672817 6.15741c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.5931c.06641-.10241.15756-.18643.26503-.2443.10747-.05787.2278-.08772.34985-.08679l8.695.06208c.1236.00146.2448.03333.3531.0928.1083.05946.2002.14469.2677.24815l2.4389 3.70997c.0882.13302.1318.29072.1244.4502-.0075.15947-.0655.31243-.1658.43665L8.63276 14.475c-.06879.0842-.15557.1519-.25396.1981-.0984.0462-.2059.0698-.31461.069v-.001z" fill="#37C4B3"></path>
                            <path d="M10.9376 5.80361L8.06418 14.743 5.08044 5.76223l-4.578103-.0335c-.012524-.16198.028313-.3236.116275-.46018L3.00522 1.59306c.06943-.10727.16597-.19429.27984-.25225l2.91083 4.4293 3.60848.02562 2.84773-4.38792c.1124.05814.2109.14485.2838.25423L15.3748 5.373c.09.13702.1332.2995.1231.46313l-4.5603-.0335v.00098z" fill="#53E7D3"></path>
                            <path d="M7.96372 1.29253h.00788l2.966 4.51109-5.87486-.04237 2.90098-4.46872z" fill="#B9F5ED"></path>
                            <path opacity=".1" d="M2.64359 6.17018s4.98999 8.46842 4.84809 8.29592L.672817 6.15639c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.59307c.06618-.10278.15723-.18719.26472-.24541.10748-.05823.22793-.08837.35016-.08765l1.97077.01379c-.12214-.00082-.24253.02917-.35.08722-.10748.05804-.19858.14226-.26488.24486l-2.3866 3.67647c-.08614.13466-.12731.29319-.11757.45275.00974.15955.06988.3119.17177.43508z" fill="#000" ></path>
                        </svg>
                    </span>
                </div>
 

                <p class="content">@(comment.User.Username): @comment.Content</p>
            </div>
        } *@
    </div>

    <!--Comment Section CSS -->
    <style>

        .likeL {
            margin-top: 0px;
            height: 35px !important;
            width: 35px !important;
        }

        .like-noL {
            background: url("/img/dislike.svg") no-repeat;
        }

        .like-yes {
            background: url("/img/like.svg") no-repeat;
            margin-right: 2px;
        }

        #tooltip {
            position: relative !important;
            display: inline-block !important;
        }


            #tooltip #tooltiptext {
                visibility: hidden !important;
                background-color: rgba(19, 19, 19, 0.76) !important;
                color: #fff !important;
                text-align: center !important;
                border-radius: 6px !important;
                padding: 4px 0px;
                font-size: medium;

                /* Position the tooltip */
                position: absolute !important;
                width: 140px;
                bottom: 100%;
                left: 50%;
                margin-left: -50px; 
                margin-bottom: -2px !important
            }

            #tooltip:hover #tooltiptext {
                visibility: visible !important;
            }

        .by-txt{
            color: #555;
            margin-left: 10px;
        }
        .top-row-second-box{
            display: flex;;
        }
        .details-last-first2{
            display: flex;
        }

        .username-txt:hover {
            color: #0993c1;
            cursor: pointer;
        }       
        .username-txt{
            margin-left: 5px;
            color:#0078a0;
            margin-top: -3px !important;
        }
        .vid-details-last{
            display: flex;
           color: #555;
           justify-content: space-between;
        }
        .views-txt{
            font-size: large;
            color: #778;
        }
        .vid-details-bottom-row{
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
        }
        .vid-title-txt{
            margin-top: 4px;

        }
        .category-txt{
            color: #777 !important;
            font-size: large;
        }
        .category-txt:hover{
                color: #555 !important;
            cursor: pointer;
        }    
        .likes-ratio{
            font-size: x-large;
            font-weight: 400;
            color: hotpink;
            margin-top: 10px;
            margin-right: 5px;
            padding: 0 !important;
            font-family: Dubai;
            display: flex;
        }
        .top-row-second-box{
            display: flex;
            flex-direction: row; /* Assuming you want to center vertically */
            align-items: center; /* Center children vertically */
            justify-content: center; /* Center children horizontally */
            text-align: center; /* Center text horizontally */
        }
        .buttonH {
            width: 10px;
            height: 10px;
            position: relative;
            margin-top: 2px;
            margin-left: 0px;
            border-radius: 5px;
            background: none;
            cursor: pointer;
            transition: background 0.5s ease;
            margin-right: 20px;

        }

        <!-- OLD HEART BUTTON STYLES-->
       /*  .heartH:hover:before,
        .heartH:hover:after {
            background: rgba(68, 68, 68, 0.96) !important;  
        }

        .active.heartH:before, .active.heartH:after {
            background: hotpink !important;
        }

        .heartH {
            width: 20px; 
            height: 20px; 
            transition: background 0.5s ease;
            
        }

            .heartH:before,
            .heartH:after {
                transition: background 0.5s ease;
                position: absolute;
                content: "";
                left: 15px;  
                top: 2px;  
                width: 15px;  
                height: 25px; 
                background: dimgrey;
                border-radius: 30px 30px 0 0;
                transform: rotate(-45deg);
                transform-origin: 0 100%;
            }

            .heartH:after {
                left: 0px;
                transform: rotate(45deg);
                transform-origin: 100% 100%;
            }
 */


        .addComment-container{
            display: flex;
            flex-direction: column;            
        }
        .addComment-topRow{
            display: flex;
        }
        .placeholdert {
            color: #999;
            pointer-events: none;
        }
        
        .comment-submit{
            align-self: flex-end;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: 1px solid hotpink;
            padding: 5px;
            margin-right: 20%;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
        }
        .comment-submit:hover{
                background-color: rgb(218, 110, 178, .8);
        }
            .comment-submit:focus {
                outline: 1px solid hotpink; /* Add focus styling here */
            }
         .comment-input{
            border-bottom: 1px solid grey;
            overflow: auto;
            margin-top: 2%;
         }

         .comment-box{
            width: 55%;
            margin-left: 20px;
        }
        .user-txt{
            display:flex;
            margin-left: 20px;
           
        }
        .fire-svg{
            margin-top: 3px;
            margin-right: 3px;
        }
        .cht-top{
            display: flex;
            margin-left: 10px;
            padding-right: 10px;
            border-radius: 12px;
        }
        .cht-new{
            display: flex;
            padding: 0px 5px;
            border-radius: 12px;
            padding-right: 10px;
        }

        .cht-new:hover,.cht-top:hover{
            background-color: #444;
            cursor: pointer;
        }
        .comments-header-title-right{
            display: flex;
            margin-left: 30px;
        }
        .comments-header-title-left{
            display: flex;
             
        }

        .comments-section p{
            margin: 0 !important;
        }
        .avatar-container {
            width: 40px;
            height: 40px;
            min-width: 40px !important; /* Add this line */
            min-height: 40px;
            position: relative;
        }

        .avatar-circle {
            width: 100%;
            height: 100%;
            background-color: #444;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px !important; /* Add this line */
        }

        .avatar-letter {
            font-size: 16px;
            font-weight: bold;
            color: white;
        }

        .diamondD {
            position: absolute;
            bottom: 6px;  
            right: -6px; 
            height: 10px !important;

        }
    .dot{
        margin-left: 10px;
    }
    .comments-number{
        padding: 0px 10px;
    }

        .comments-header {
            display: flex;
            position: relative;
            align-items: center;
            padding: 5px;
        }
        .comments-header-title{
            display: flex;
            height: 30px;  
            align-content: center;
        }
        .comments-section {
            display: grid;
            grid-template-columns: 1fr; /* Single column layout */
            gap: 10px; /* Adjust the gap between comments */
/*             background: #222;
 */            
            padding: 5px !important;
            align-items: center;
            border-radius: 15px !important;
            margin-top: 10px !important;
            width: 810px !important;
            height: 240px !important;
            background: #222;
            margin-left: 5px !important;
        }
 
        .comment {
            display: flex;
            gap: 8px;
            padding: 5px;
        }

            .comment .avatar {
                flex: 0 0 auto; /* Prevent avatar from shrinking */
                height: 30px;
                border-radius: 10px;                
            }

            .comment .content {
                flex: 1 1 auto; /* Allow content to grow/shrink */
            }
            main{
                display: flex;
                flex-direction: row;
            }

            .join-premium-container {
                background-image: url('https://front.sexlikereal.com/s/refactor/images/banners/bg-banner-premium-side.jpg');
                background-size: cover; /* This ensures the image covers the entire container */
                background-position: center; /* This centers the image within the container */
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                height: 130px; 
                width: 90%;
                justify-content: center;
                align-content: center;
                position: relative;
                left: 10px;
                background-color: #222;
                margin-top: 30px;
                border-radius: 6px;
                padding: 50px;
                text-align: center;
                border: 1px solid blue; 
                font-weight: bold;
            }
            .cta-text{
                
            }
            .suggested-videos{
                display: flex;     
                flex-direction: column;
                align-content: center;
                justify-content: center;
                margin-top: 10px;
                margin-left: 5px;
            }
            .video{
                display: flex;
                padding: 6px;
            }
            .video-title{
                padding-left: 5px;
                min-width: 160px !important;
                max-width: 300px;
            }

        .page-right-container {
            flex-grow: 1;
        }
        .sug-vid-content{
            position: relative;
            margin-left: 5px;

        }
        .suggested-videos p{
            color: #666666;
            padding: 0 !important;
            padding-left: 5px !important;
            margin-top: 3px;
        }

        .sug-vid-content-bottom{
            color: #b0b0b0;
            padding: 0 !important;
            position: absolute;
            bottom: 0 !important;
        }
        .title-link{
            color: white;
        }
        .title-link:hover{
            color: white;
        }     
        .vid-category:hover{
            color: #999;
        }

 </style>    

</div>

<!--RIGHT SIDE OF PAGE (SUGGESTED VIDEOS) -->
<div class="page-right-container">
    @{
        var username = HttpContextAccessor.HttpContext?.Session.GetString("username");
    }
    @if (!Authenticate.IsAuthenticated(Context)|| username == "")
    {
        <!--join premium container-->
        <div class="join-premium-container">
            <p class="cta-text">Watch this video and 1000+ more with Premium</p>
            <a asp-action="JoinNow" asp-controller="Home">JOIN NOW</a>
        </div>
    }
           

    <!--Suggested videos -->
     @for (int i = 0; i < Model.suggestedVideos.Count; i++)
     {
        <div class="suggested-videos">
            <div class="video">
                <div class="sug-vid-img">
                    <a asp-action="Watch" asp-controller="Video" asp-route-title="@Model.suggestedVideos[i].Title">
                        <img src="~/img/@Model.suggestedVideos[i].ThumbnailUrl" height="100px" width="150px" class="sug-img" /> 
                       </a>
                </div>
                <div class="sug-vid-content">
                    <a class="title-link" asp-action="watch" asp-controller="Video" asp-route-title="@Model.suggestedVideos[i].Title"><h5 class="video-title">@Model.suggestedVideos[i].Title</h5></a>
                    <a asp-action="Index" asp-controller="Video" asp-route-category="@Model.suggestedVideos[i].Category"><p class="vid-category">@Model.suggestedVideos[i].Category</p></a>
                    <div class="sug-vid-content-bottom">
                        <img src="~/img/vision.png" height="22px" width="20px"/> @Model.suggestedVideos[i].FormattedViews  | @Model.suggestedVideos[i].FormattedUploadDate
                    </div>
                </div>
            </div>           
        </div>

     }
</div>


<!-- Include VideoJS  -->
<script src="~/node_modules/video.js/dist/video.js"></script>
<script src="~/node_modules/videojs-vr/dist/videojs-vr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@mojs/core"></script>

<link href="~/node_modules/video.js/dist/video-js.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />

<!-- Include VideoJS-VR JavaScript -->
<script src="~/node_modules/videojs-vr/dist/videojs-vr.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var player = videojs('my-video');
        player.vr({ projection: '180_LR' });
    });
</script>


<!--LIKE BUTTON FUNCTIONALITY (NOT ANIMATION JS) -->
<script>
     
       

    document.addEventListener('DOMContentLoaded', function () {

        const likeButtons = document.querySelectorAll('.likeL');
        const currentUser = @Html.Raw(Json.Serialize(ViewBag.CurrentUser)); // Access the user from the ViewBag

        console.log(currentUser?.username + " " + currentUser?.id);

        // Check if user is logged in
        const isLoggedIn = currentUser && currentUser.username && currentUser.username !== "";

        likeButtons.forEach(button => {
            const tooltip = button.parentElement.querySelector('#tooltiptext');

            if (isLoggedIn) {
                // User is logged in, hide tooltip
                tooltip.style.display = 'none';
                console.log("User is logged in");
            } else {
                // User is not logged in, show tooltip
                tooltip.style.display = 'block';
                console.log("User is not logged in");
            }

            button.addEventListener('click', (event) => {
                if (!isLoggedIn) {
                    // User is not logged in, redirect to login
                    event.preventDefault();
                    console.log("User must log in to like this video.");
                    const baseUrl = window.location.origin;
                    window.location.href = `${baseUrl}/Home/Login`;
                } else {
                    // User is logged in, toggle like state
                    event.target.classList.toggle("like-noL");
                    event.target.classList.toggle("like-yes");

                    const postId = button.dataset.postId;
                    const isLiked = event.target.classList.contains("like-yes");

                    if (isLiked) {
                        console.log("✅💾 Saving Favorite...");

                        // Proceed with liking the video
                        fetch(`/Video/Like/${postId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'RequestVerificationToken': getAntiForgeryToken() // Include anti-forgery token
                            },
                            body: JSON.stringify({ postId }) // Pass post ID in the request body
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log("Like count: " + data.likeCount);
                                // Handle success response
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                // Handle error
                            });

                    } else {
                        console.log("❌ Removing Favorite...");

                        // Proceed with unliking the video
                        fetch(`/Video/Unlike/${postId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'RequestVerificationToken': getAntiForgeryToken() // Include anti-forgery token
                            },
                            body: JSON.stringify({ postId }) // Pass post ID in the request body
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log("Like count: " + data.likeCount);
                                // Handle success response
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                // Handle error
                            });
                    }
                }
            });
        });

        // Function to retrieve the anti-forgery token from the page
        function getAntiForgeryToken() {
            const tokenElement = document.querySelector('input[name="__RequestVerificationToken"]');
            return tokenElement ? tokenElement.value : '';
        }
    });
</script>


<!--LIKEBUTTON BURST ANIMATION   AND  COMMENT JS-->
 <script type="text/javascript">

     //LIKE BUTTON 
    $(document).ready(function () {
        var scaleCurve = mojs.easing.path('M0,100 L25,99.9999983 C26.2328835,75.0708847 19.7847843,0 100,0');
        var el = document.querySelector('.buttonH'),
            // mo.js timeline obj
            timeline = new mojs.Timeline(),
   
       // tweens for the animation:
       // burst animation
        tween1 = new mojs.Burst({
                parent: el,
                radius: { 0: 100 },
                angle: { 0: 45 },
                y: -10,
                count: 10,
                radius: 100,
                children: {
                    shape: 'circle',
                    radius: 30,
                    fill: ['#c90084', 'hotpink)'],
                    strokeWidth: 15,
                    duration: 500,
                }
            });
        tween2 = new mojs.Tween({
            duration: 900,
            onUpdate: function (progress) {
                var scaleProgress = scaleCurve(progress);
                el.style.WebkitTransform = el.style.transform = 'scale3d(' + scaleProgress + ',' + scaleProgress + ',1)';
            }
        });
        tween3 = new mojs.Burst({
            parent: el,
            radius: { 0: 100 },
            angle: { 0: -45 },
            y: -10,
            count: 10,
            radius: 125,
            children: {
                shape: 'circle',
                radius: 30,
                fill: ['deeppink', 'hotpink'],
                strokeWidth: 15,
                duration: 400,
            }
        });

        // add tweens to timeline:
        timeline.add(tween1, tween2, tween3);

        // when clicking the button start the timeline/animation:
        $(".buttonH").click(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            } else {
                timeline.play();
                $(this).addClass('active');
            }
        });
    });


    const commentInput = document.querySelector('.comment-input');
    const commentSubmit = document.querySelector('.comment-submit');
    const commentsContainer = document.querySelector('.comments-section');
    const placeholder = commentInput.querySelector('.placeholdert');
    const btnComment = document.getElementById('btnComment');
    
     btnComment.onclick = function () {
         commentInput.innerHTML = "";
     }
    // Remove the placeholder when the user clicks inside the contenteditable div
    commentInput.addEventListener('click', () => {
        if (placeholder) {
            placeholder.remove();
        }
    });

    // Add the placeholder back if the user clears the comment input
    commentInput.addEventListener('input', () => {
        if (commentInput.textContent.trim() === '') {
            if (!placeholder) {
                const newPlaceholder = document.createElement('span');
                newPlaceholder.classList.add('placeholder');
                newPlaceholder.textContent = 'Add a comment...';
                commentInput.appendChild(newPlaceholder);
            }
        }
    });

    // Restore placeholder when the input loses focus (user clicks anywhere else on the page)
    document.addEventListener('click', (event) => {
        const isCommentInput = event.target.closest('.comment-input');
        if (!isCommentInput && commentInput.textContent.trim() === '') {
            if (!placeholder) {
                const newPlaceholder = document.createElement('span');
                newPlaceholder.classList.add('placeholdert');
                newPlaceholder.textContent = 'Add a comment...';
                commentInput.appendChild(newPlaceholder);
            }
        }
    });

    commentSubmit.addEventListener('click', () => {
        const commentText = commentInput.textContent.trim();
        if (commentText) {
            // Your logic to submit the comment
            console.log('Comment submitted:', commentText);
            // Clear the input after submitting
            commentInput.textContent = '';
            // Restore placeholder after clearing input
            const newPlaceholder = document.createElement('span');
            newPlaceholder.classList.add('placeholdert');
            newPlaceholder.textContent = 'Add a comment...';
            commentInput.appendChild(newPlaceholder);
        }
    });
</script>




















